* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}

/* header */

.header {
    width: 100%;
    height: 50px;

    background-color: rgba(255, 255, 255, 0.973);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 0 0 8px 8px;
}

/* main */

.main {
    min-height: 100vh;
    background: linear-gradient(150deg, rgba(202, 252, 241, 0.89) 0%, rgb(255, 255, 255) 50%, rgb(240, 208, 248) 100%);
}

.wrapper {

    padding: 5px;
}

/* show-li? */
.children-list .show-li {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 5px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
}

.children-list .hide-li {
    display: none;
}

.children-list .active-li {
    border: 2px solid greenyellow
}

.children-list li h3 {
    width: 30%;

    color: black;
}

.isecream-wrapper {
    height: 44px;
    display: flex;
}

.isecream-wrapper img {
    width: 40px;
    height: 40px;
}

.isecream-wrapper div {
    position: relative;
}

.action-div {
    width: 52px;
    height: 44px;

    position: absolute;
    top: -44px;
}

.active-icecream {
    background-color: rgb(80, 238, 88);
}

/* footer */

.footer {
    width: 100%;
    height: 50px;
    position: fixed;
    top: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(254, 254, 255);
    border-top: 2px solid black;
    border-radius: 8px 8px 0 0;
}
